@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.App{
    display: flex;
}
*{
    font-family: 'roboto';
}
h2,h3{
    color: #666;
}

@media (max-width: 580px) {
    .App {
        /* display: none; */
        flex-wrap: wrap;
        padding-left: 90px;
    }

}